#result{
    text-align: center;
    border: 1px solid rgb(92, 92, 92);
    background-color: rgb(92, 92, 92);
    height: 30px;
    font-size: 20px;
    border-radius: 8px 0 8px 0;
    margin: 20px;
}